<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"  crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dist/app.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <title></title>
</head>
<body>

  <div id="project">
    <div class="main-header">
      <div class="main-header-background">
        <div class="logo-column">
          <ul>
            <li><i class="far fa-caret-square-up"></i></li>
            <li><i class="far fa-futbol"></i></li>
            <li><i class="fas fa-book"></i></li>
            <li>  <i class="fas fa-shopping-cart"></i></li>

          </ul>
        </div>
        <div class="main-header-background-container">

          <!--Start logo e menu header --------------------------------------->
          <div class="header-top">
            <div class="header-top-logo">
              <img src="img/dark-logo.png" alt="">
            </div>
            <div class="menu-list">
              <div class="menu">

                <!-- creazione dinamica item del menu -->
                <ul>
                  <li v-for="item in headMenu">{{item.name}}
                    <i class="fas fa-chevron-down"></i></li>
                  </ul>

                  <!-- header parte destra dedicata alla search -->
                </div>
                <div class="search-part">
                  <i class="fas fa-shopping-cart"></i>
                  <span class="zero-green">o</span>
                  <i class="far fa-user-circle"></i>
                  <div class="searc-part-input">
                    <input type="text" placeholder="Search..." value="">
                    <i class="fas fa-search"></i>
                  </div>

                </div>
              </div>

            </div>
            <!-- fine header-top -->

            <!-- inizio main-header diviso in left e right -------------------->
            <div class="main-header-left">
              <div class="title">
                <h1>Complete Your <br>
                  Dreams in JavaS <br>
                  Programming
                </h1>
              </div>

              <div class="description">
                <p>Learn any coding program in distance and for a </p>

                <p>  reasonable fee. You don't have to struggle alone, </p>

                <p>  you've got our assistnce and help</p>

              </div>
              <div class="green-button">
                <i class="fas fa-download"></i>
                <span>Download free E-book</span>

              </div>

            </div>

            <div class="main-header-right">
              <div class="desk-image">
                <img src="img/home-5.png" alt="">


              </div>

            </div>

          </div>
          <!-- end header-container ------------------------------------>


        </div>

      </div>

      <!-- Start Build your Dream part ---------------------------------->

      <div class="main-build-dream">
        <div class="main-build-dream-container">
          <div class="title">
            <p>START LEARNING CODING LANGUAGES</p>
            <h1>Build Your Dream</h1>
            <span>TODAY</span>
          </div>

          <!-- creo dinamicamente il contenuto dei box tramite dato in Vue -->
          <div class="card-build-container">
            <div class="card-build-container-box" v-for="elem in build">
              <img :src="'./img/build'+ elem.code +'.png'" alt="">
              <h1>{{elem.title}}</h1>
              <p>{{elem.description}}</p>

              <div class="start">
                <span>Start now</span>
                <i class="fas fa-long-arrow-alt-right"></i>

              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Inzio Construct a Career Part ------------------------------------->

      <div class="main-construct">
        <div class="background-image">
          <img src="./img/underlay-shape-lilla.svg" alt="">
        </div>

        <!-- left---------->
        <div class="main-construct-container">
          <div class="construct-left">
            <img src="./img/construct-back.png" alt="">

          </div>

          <!--right----------->
          <div class="construct-right">
            <div class="construct-right-title">
              <div class="title-up">
                <span>DREAM WITH <strong>MAX COACH</strong></span>
              </div>
              <div class="title-down">
                <h1>Construct A</h1>
                <span>Stunning <br></span>
                <h1>Career Perspective</h1>
              </div>

            </div>


            <!-- Dropdown menu con gestione del colore background del title||

            cambio dell'icona in base a chiusura o apertura dropdown menu-->


            <div class="dropdown-part">

              <div class="dropdown-part-menu" v-for="(item,index) in construct" @mouseleave="dropMenuOff()">

                <div class="title" :style="[backTrueOrFalse(index)]" >
                  {{item.title}}

                  <i v-if="showMenu.show && showMenu.index === index"
                  class="fas fa-minus-circle" @click="showingMenu(index)"></i>

                  <i class="fas fa-plus-circle" @click="showingMenu(index)" v-else ></i>


                </div>
                <div class="description" v-if="showMenu.show && showMenu.index === index">
                  {{item.text}}
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
      <!-- end main costruct -->

      <!-- inizio grey row-------------------------------------->
      <div class="grey-row">
        <div class="grey-row-container">
          <div class="grey-row-container-boxes" v-for="elem in results">
            <div class="numbers">
              {{elem.numbers}}
            </div>
            <div class="result">
              {{elem.result.toUpperCase()}}
            </div>


          </div>

        </div>

      </div>
      <!-- inizio cards row-------------------------------------------->

      <div class="main-cards-row">
        <div class="main-cards-row-container">
          <div class="title">
            <p>CHOOSE WHERE YOU'D LIKE TO BEGIN</p>
            <h1>Latest Featured</h1>
            <span>Courses</span>

          </div>

          <div class="cards-container">

            <!-- card img -->
            <div class="card" v-for="(item,index) in teachers">
              <div class="box-image">
                <img :src="'./img/card' + item.code + '.jpg'" alt="">
                <span :style="[backgroundTrue]">{{item.cost}}</span>
              </div>

              <!--text and logo under img  -->
              <div class="description">
                <div class="logo">
                  <img :src="'./img/' + item.logo + '.jpeg' " alt="">
                  <span>{{item.name}}</span>
                </div>

                <div class="teacher-course">
                  <h2>{{item.job}}</h2>

                </div>

                <!-- students and lessons data -->
                <div class="lessons-students">

                  <div class="lessons">
                    <i class="far fa-file-alt"></i>
                    {{item.lessons}}
                    <span>Lessons</span>
                  </div>

                  <div class="students">
                    <i class="far fa-user"></i>
                    {{item.students}}
                    <span>Students</span>
                  </div>

                </div>

              </div>


            </div>
          </div>

          <div class="card-button">
            <div class="content">
              <span>View all courses</span>
              <i class="fas fa-long-arrow-alt-right"></i>

            </div>

          </div>

        </div>

      </div>
      <!-- end cards container --------------------------------------------->


      <!-- start Learn At your Own part ------------------------------------------->

      <div class="main-learn-yourown">
        <div class="box-images">

          <img src="./img/underlay-shape-grey.svg" alt="">
          <span><img src="./img/maxcoach-shape-05-100.png" alt=""></span>

        </div>
        <div class="main-learn-yourown-container">

          <div class="left-content">

            <div class="main-content">
              <div class="up-title">
                <p>WHY HESITATE TO REGISTER?</p>
                <h1>Learn At Your <br> Own</h1>
                <span>Pace</span>
              </div>

              <div class="choice-list">
                <ul>
                  <li>

                    <i class="fas fa-check"></i>
                    <span>Select & customize courses to your preferences</span>

                  </li>
                  <li>

                    <i class="fas fa-check"></i>
                    <span>Change the tutor and make arrangements</span>

                  </li>
                  <li>

                    <i class="fas fa-check"></i>
                    <span>Posticipate in events to join others</span>

                  </li>
                  <li>

                    <i class="fas fa-check"></i>
                    <span>Get the desired certificate delivered at house</span>

                  </li>
                </ul>
              </div>

              <div class="get-start-button">
                <h3>Get start for free</h3>
              </div>
            </div>


          </div>

          <div class="right-content">
            <div class="desk-image">
              <img src="./img/home-5-image-01.png" alt="">
            </div>

          </div>

        </div>

      </div>
      <!-- end  Learn at your own part ---------------------------------------->


      <!-- start Learn Anytime part-------------------------------------------------->
      <div class="main-learn-anytime">

        <div class="box-image">
          <img src="./img/underlay-shape-grey.svg" alt="">
        </div>

        <div class="box-stripes">
          <img src="./img/maxcoach-shape-01.png" alt="">
        </div>

        <div class="points-image">
          <img src="./img/maxcoach-shape150.png" alt="">

        </div>

        <div class="main-learn-anytime-container">


          <div class="left-part">

            <div class="cellular-image">
              <img src="./img/cell-image.png" alt="">
            </div>
            <div class="circle">
              <img src="./img/screenshot.png" alt="">
            </div>

          </div>

          <div class="right-part">

            <div class="right-box">

              <div class="pre-title">
                <span>WHAT ARE YOU LOOKING FOR?</span>
              </div>

              <div class="title">
                <h1>Learn on your</h1>
                <span>mobile</span>

                <div class="anytime-title">
                  <h1>anytime!</h1>
                </div>

              </div>

              <div class="description">
                <p>Save lessons for later and revise or write notes at any time and on
                  <br> multiple devices on your way. Never interfere with activities of
                  <br> enjoyment or other precious moments. </p>
                </div>

                <div class="button">
                  <span>Download Our App</span>
                </div>

              </div>


            </div>

          </div>

        </div>

        <!-- end Learn Anytime part------------------------------------------------>


        <!-- Start Upcoming Events part-------------------------------------------->
        <div class="container-background">


          <div class="main-upcoming-events">
            <div class="main-upcoming-events-container">

              <div class="upcoming-event-title">

                <div class="pre-title">
                  <span>GET IN CONTACT NOW</span>
                </div>

                <div class="title">
                  <h1>Upcoming</h1>
                  <span>Events</span>
                </div>

              </div>

              <!-- Events boxes -->

              <div class="event-container">

                <div class="event-box" v-for="item in events">

                  <div class="info-event">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{item.city}}</span>
                    <h3>{{item.event}}</h3>

                  </div>

                  <div class="date-event">
                    <span>{{item.day}}</span>
                    <h5>{{item.month.toUpperCase().slice(0,3)}}</h5>
                    <h4>Get ticket</h4>

                  </div>

                </div>
              </div>

              <div class="view-all-events">

                <div class="about">
                  <span>Excited about our event?</span>
                </div>

                <div class="view">
                  <span>View all events</span>
                  <i class="fas fa-long-arrow-alt-right"></i>
                </div>

              </div>
            </div>
          </div>
          <!-- end Upcoming Events------------------------------------------------------->


          <!-- Start praising maxcoach-->

          <div class="main-praising-maxcoach">
            <div class="main-praising-maxcoach-container">

              <div class="main-content">

                <div class="title">
                  <H5>PEOPLE ARE PRAISING MAXCHOACH</H5>
                  <h1>What make they</h1>
                  <span>love us?</span>
                </div>

                <!-- mostro i dati e le immagini degli studenti -->
                <div class="rating-container">

                  <div class="card" v-for="(elem,index) in testimonials[idxTestimonials].students">

                    <div class="logo">
                      <img :src="'./img/testimonial' + elem.logo + '.jpg'" alt="">
                    </div>

                    <div class="opinion">
                      <p>{{elem.opinion}}</p>
                    </div>

                    <div class="name" >
                      <span>{{elem.name.toUpperCase()}}</span>
                    </div>

                    <div class="job">
                      <span>/{{elem.job}}</span>
                    </div>

                  </div>

                  <div class="carousel-points">
                    <i v-for="(item,index) in testimonials" :class="{fas:true, 'fa-circle':true}"

                    @click="clickCircle(index)"
                    :style="[colorPoint(index)]">

                  </i>
                </div>

                <!-- bottom title under testimonials cards -->
                <div class="bottom-title">
                  <div class="decoration-images">

                    <div class="circle">
                      <img src="./img/screenshot-grey.png" alt="">
                    </div>

                    <div class="stripes">
                      <img src="./img/maxcoach-shape-01.png" alt="">
                    </div>

                    <div class="semi-circle">
                      <img src="./img/maxcoach-shape-02.png" alt="">
                    </div>

                  </div>
                  <div class="title">
                    <h4>Start today for getting</h4>
                    <span>Online Certification</span>
                    <h2>You can be your own guiding star with our help!</h2>

                  </div>

                  <div class="button">
                    <span>Get started now</span>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
      </div>
      <!-- end praising MaxCoach part------------------------------------------------>


      <!-- Start footer-------------------------------------------------------------->

      <div class="main-footer">
        <div class="content-footer">

          <div class="left-part">
            <div class="address" v-for="item in infoMaxCoach">
              <h4>Address</h4>
              <ul>
                <li >{{item.address}}</li>
                <li>{{item.phone}}({{item.open}})</li>
                <li>{{item.email}}</li>
              </ul>
            </div>

            <div class="social-logo">
              <ul>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
              </ul>

            </div>

          </div>

          <div class="right-part">

            <div class="explore-container">

              <h4>Explore</h4>
              <div class="explore" v-for="elem in explore">
                <ul>
                  <li>{{elem.name}}</li>
                </ul>
              </div>
            </div>

          <div class="information-container">
            <h4>Information</h4>
            <div class="information" v-for="item in information">

              <ul>
                <li>{{item.name}}</li>
              </ul>

            </div>
          </div>

          </div>

          <div class="title-end-footer">
            <i class="far fa-copyright"></i>
            <span>MaxCoach. All rights Reserved</span>
          </div>

          <div class="upper-button">
            <a href="javascript:scroll(0,0)"><i class="fas fa-long-arrow-alt-up"></i></a>
          </div>

        </div>
      </div>




    </div>
    <!-- end project -->



    <script src="js/script.js" charset="utf-8"></script>
  </body>
  </html>
