*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@import "common-use";
@import "colors";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin list {
  display: inline;
  list-style: none;
  padding-left: 38px;
}
@mixin container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

@mixin shadow {
  box-shadow: 0 8px 6px -6px $background-drop;
  background: rgba(242, 242,242,0.2);
  border-radius: 10px;
}
$background: $common-green;

#project{

  .main-header{
    position: relative;

    &-background{
      width: 100%;
      height: 800px;
      background-image: url(../img/jumbo-overlay.svg);
      background-color: $bg-header;

      // colonna loghi alla destra dell'header---------
      .logo-column{
        position: absolute;
        right:-4px;
        transform: translate(0,-50%);
        top: 40%;
        background: #fff;
        border-radius: 5px;

        ul{
          li{
            list-style:none;
            padding: 12px;
            cursor: pointer;
          }
        }
      }
      // -------------------------------------

      &-container{
        @include container;

        .header-top{
          @include flexCenter;
          justify-content: space-between;
          width: 100%;
          height: 60px;


          &-logo{
            width: 200px;
            img{width: 80%;}
          }

          .menu-list{
            display: flex;
            align-items: center;

            .menu{
              li{
                @include list;
                color:$menu-header;
                cursor: pointer;

                i{font-size: 10px;}
              }

              li:hover{
                color:#26214c;
              }
            }
          }
          .search-part{
            display: flex;
            margin-left: 10px;
            align-items: center;
            position: relative;

            .zero-green{
              @include cart-zero;
            }

            i{padding-right: 20px;}

            .searc-part-input{
              position:relative;

              input{
                @include Search;
              }

              i{
                position: absolute;
                right: 0;
                top: 14px;
                color:$common-green;
              }

            }

          }
        }
        // end header-top---------------------------------------

        .main-header-left{
          width: 40%;
          height: 80%;
          float: left;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title{

            font-size:22px;
            color:$common-purple;
          }

          .description{
            font-size: 18px;
            padding: 25px 0 25px 0;

            p{
              padding-bottom: 8px;
              color:#b4b1be;
            }
          }

          .green-button{
            @include button;
            width: 60%;
            border-radius: 5px;
            cursor: pointer;}

            .green-button:hover{
              background:$menu-header;
            }

          }

          .main-header-right{
            width: 60%;
            height: 95%;
            float: left;

            .desk-image{
              padding-top: 60px;
              padding-left: 91px;
            }


          }


        }
      }
    }
    // Build your dream part---------------------------------------
    .main-build-dream{
      width: 100%;
      height: 800px;

      &-container{
        @include container;

        .title{
          text-align:center;
          padding:120px 120px;

          p{
            font-size: 15px;
            padding-bottom: 20px;
            color: #696981;
          }

          h1{display: inline;
            color: $common-purple;
            font-size: 42px;}

            span{
              color: $common-green;
              font-size: 42px;
              font-family: sans-serif;
            }
          }
          //  Build your dream boxes--------------------------------
          .card-build-container{
            width: 100%;
            height: 80%;
            display: flex;

            &-box{
              width: 25%;
              height: 100%;
              text-align: center;

              h1{
                font-size: 20px;
                color: #3b3b3b;
                padding-bottom: 19px;
              }

              p{font-size: 15px;
                padding-bottom: 19px;
                color:$grey-build;
                font-weight:500;}

                .start{
                  width: 32%;
                  display: contents;
                  span{
                    font-weight: bold;
                    font-size: 13px;
                    @include finger;
                    color:$common-purple}

                    i{
                      @include finger;
                      font-size: 13px;
                      padding-left: 4px;
                      color: $common-purple}

                      }
                    .start:hover{
                      span{color:$common-green;}
                      i{color:$common-green;}
                    }

                  }
                }
              }
            }
            // Start Construct a Career part-----------------------------------------

            .main-construct{
              width: 100%;
              height: 800px;
              position: relative;

              .background-image{
                position: absolute;
                transform: translate(0,-50%);
                top: 38%;
                left: 10px;
                width: 400px;
                height: 500px;

                img{
                  width: 100%;
                  height: 100%
                }
              }

              &-container{
                @include container;

                .construct-left{
                  @include sharingAndFloat;
                  position: relative;

                  img{
                    position: absolute;
                    left: 40px;
                  }
                }
                .construct-right{
                  @include sharingAndFloat;

                  &-title{
                    .title-up{
                      color:$grey-build;
                      padding-bottom: 30px;

                      span{font-weight: lighter}


                    }

                    .title-down{
                      font-size: 22px;

                      h1{display: inline;
                        color:$common-purple;
                        margin-bottom: 30px;
                      }

                      span{color:$common-green;
                        font-size:44px;
                        padding-left: 3px;}
                      }


                    }

                    // drop-down menu part-----------------------

                    .dropdown-part{
                      width: 100%;
                      height:auto;
                      box-shadow: 0 8px 6px -6px $background-drop;
                      margin-top: 80px;
                      border-radius: 10px;

                      &-menu{
                        @include shadow;


                        .title{
                          @include shadow;
                          padding: 20px;
                          color: $drop-title;

                          i{
                            @include finger;
                          }
                        }

                        .description{
                          @include dropMenu;

                        }
                      }
                    }

                  }
                }
              }
// end construct e dropdown menu part-------------------------------------

// start grey row----------------------------------------------------------
.grey-row{
  height: 300px;
  width: 100%;
  background: $grey-row;

    &-container{
      @include container;
      display: flex;

      &-boxes{
        @include greyRowBox;
        .numbers{
          color: $common-green;
          font-size: 40px;
          font-weight: bold;
          padding-bottom: 15px;
          font-family: 'Noto Sans', sans-serif;
        }

        .result{
          color:$grey-row-result;
          font-weight: bolder;
        }
      }
    }
}

// Start Cards row part-------------------------------------------------
.main-cards-row{
  height: 1000px;
  width: 100%;
  background-image: linear-gradient(to bottom, #fff 30%, 	#e6e6e6 100%);
  border-bottom-left-radius: 200px;
  border-bottom-right-radius:200px;

  &-container{
    @include container;

    .title{
      text-align:center;
      margin: 40px 30px;

      p{color:$drop-title;
      font-size:20px;
      padding-bottom: 20px;}

      h1{display: inline;
       color:$common-purple;
       font-size: 50px;
       font-weight: bold;}

      span{color:$common-green;
      font-size: 50px;
      font-family:sans-serif;
       }

    }
// Inizio cards--------------------------------
    .cards-container{
    @include cardContainer;

      .card{
        width: 32%;
        height: 50%;
        border: 1px solid black;

        .box-image{
          height: 50%;
          img{
            width: 100%;
            height: auto;
          }

        }

      .description{
        margin-top: 48px;
        padding-left: 28px;
        width: 100%;
        height: 50%;

        .logo{

          height: 64px;
          width: 38px;

          img{
            border-radius: 50%;
            width: 100%;
            height: auto;
          }
        }
      }

      }
    }
  }
}

}
