*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@import "common-use";
@import "colors";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin list {
  display: inline;
  list-style: none;
  padding-left: 38px;
}
@mixin container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
#project{

  .main-header{

    &-background{
      width: 100%;
      height: 800px;
      background-image: url(../img/jumbo-overlay.svg);
      background-color: $bg-header;


      &-container{
        @include container;
        border: 1px solid black;

        .header-top{
          @include flexCenter;
          justify-content: space-between;
          width: 100%;
          height: 60px;


          &-logo{
            width: 200px;
            img{width: 80%;}
          }

          .menu-list{
            display: flex;
            align-items: center;
            .menu{
              li{
                @include list;
                color:$menu-header;
                i{font-size: 10px;}
              }
            }
          }
          .search-part{
            display: flex;
            margin-left: 10px;
            align-items: center;

            i{padding-right: 20px;}

            .searc-part-input{
              position:relative;

              input{
                @include Search;
              }
              i{
                position: absolute;
                right: 0;
                top: 14px;
                color:$common-green;
              }

            }

          }
        }
        // end header-top

        .main-header-left{
          width: 40%;
          height: 80%;
          border: 1px solid black;
          float: left;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title{

              font-size:22px;
              color:#3f3a64;
          }

          .description{
            font-size: 18px;
            padding: 25px 0 25px 0;
            p{
              padding-bottom: 8px;
              color:#b4b1be;
            }
          }

        .green-button{
          @include button;
          width: 60%;
          border-radius: 5px;
          cursor: pointer;}
          .green-button:hover{
            background:$menu-header;
          }

        }

        .main-header-right{
          width: 60%;
          height: 95%;
          border: 1px solid black;
          float: left;

          .desk-image{
            padding-top: 60px;
            padding-left: 91px;
          }


        }


      }
    }
  }
}
