*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@import "common-use";
@import "colors";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin list {
  display: inline;
  list-style: none;
  padding-left: 38px;
}
@mixin container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

@mixin shadow {
  box-shadow: 0 8px 6px -6px $background-drop;
  background: rgba(242, 242,242,0.2);
  border-radius: 10px;
}

$background: $common-green;

$fontNumbers: 'Mukta', sans-serif;

#project{

  .main-header{
    position: relative;

    &-background{
      width: 100%;
      height: 800px;
      background-image: url(../img/jumbo-overlay.svg);
      background-color: $bg-header;

      // colonna loghi alla destra dell'header---------
      .logo-column{
        position: absolute;
        right:-4px;
        transform: translate(0,-50%);
        top: 40%;
        background: #fff;
        border-radius: 5px;

        ul{
          li{
            list-style:none;
            padding: 12px;
            cursor: pointer;
          }
        }
      }
      // -------------------------------------

      &-container{
        @include container;

        .header-top{
          @include flexCenter;
          justify-content: space-between;
          width: 100%;
          height: 60px;


          &-logo{
            width: 200px;
            img{width: 80%;}
          }

          .menu-list{
            display: flex;
            align-items: center;

            .menu{
              li{
                @include list;
                color:$menu-header;
                cursor: pointer;

                i{font-size: 10px;}
              }

              li:hover{
                color:#26214c;
              }
            }
          }
          .search-part{
            display: flex;
            margin-left: 10px;
            align-items: center;
            position: relative;

            .zero-green{
              @include cart-zero;
            }

            i{padding-right: 20px;}

            .searc-part-input{
              position:relative;

              input{
                @include Search;
              }

              i{
                position: absolute;
                right: 0;
                top: 14px;
                color:$common-green;
              }

            }

          }
        }
        // end header-top---------------------------------------

        .main-header-left{
          width: 40%;
          height: 80%;
          float: left;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title{

            font-size:22px;
            color:$common-purple;
          }

          .description{
            font-size: 18px;
            padding: 25px 0 25px 0;

            p{
              padding-bottom: 8px;
              color:#b4b1be;
            }
          }

          .green-button{
            @include button;
            width: 60%;
            cursor: pointer;}

            .green-button:hover{
              @include hoverButton;
            }

          }

          .main-header-right{
            width: 60%;
            height: 95%;
            float: left;

            .desk-image{
              padding-top: 60px;
              padding-left: 91px;
            }


          }


        }
      }
    }
    // Build your dream part---------------------------------------
    .main-build-dream{
      width: 100%;
      height: 800px;

      &-container{
        @include container;

        .title{
          text-align:center;
          padding:120px 120px;

          p{
            font-size: 15px;
            padding-bottom: 20px;
            color: #696981;
          }

          h1{display: inline;
            color: $common-purple;
            font-size: 42px;}

            span{
              color: $common-green;
              font-size: 42px;
              font-family: sans-serif;
            }
          }
          //  Build your dream boxes--------------------------------
          .card-build-container{
            width: 100%;
            height: 80%;
            display: flex;

            &-box{
              width: 25%;
              height: 100%;
              text-align: center;

              h1{
                font-size: 20px;
                color: #3b3b3b;
                padding-bottom: 19px;
              }

              p{font-size: 15px;
                padding-bottom: 19px;
                color:$grey-build;
                font-weight:500;}

                .start{
                  width: 32%;
                  display: contents;
                  span{
                    font-weight: bold;
                    font-size: 13px;
                    @include finger;
                    color:$common-purple}

                    i{
                      @include finger;
                      font-size: 13px;
                      padding-left: 4px;
                      color: $common-purple}

                    }
                    .start:hover{
                      span{color:$common-green;}
                      i{color:$common-green;}
                    }

                  }
                }
              }
            }
            // Start Construct a Career part-----------------------------------------

            .main-construct{
              width: 100%;
              height: 800px;
              position: relative;

              .background-image{
                position: absolute;
                transform: translate(0,-50%);
                top: 38%;
                left: 10px;
                width: 400px;
                height: 500px;

                img{
                  width: 100%;
                  height: 100%
                }
              }

              &-container{
                @include container;

                .construct-left{
                  @include fiftyFifty;
                  position: relative;

                  img{
                    position: absolute;
                    left: 40px;
                  }
                }
                .construct-right{
                  @include fiftyFifty;

                  &-title{
                    .title-up{
                      color:$grey-build;
                      padding-bottom: 30px;

                      span{font-weight: lighter}

                    }

                    .title-down{
                      font-size: 22px;

                      h1{display: inline;
                        color:$common-purple;
                        margin-bottom: 30px;
                      }

                      span{color:$common-green;
                        font-size:44px;
                        padding-left: 3px;}
                      }

                    }

                    // drop-down menu part-----------------------

                    .dropdown-part{
                      width: 100%;
                      height:auto;
                      box-shadow: 0 8px 6px -6px $background-drop;
                      margin-top: 80px;
                      border-radius: 10px;

                      &-menu{
                        @include shadow;


                        .title{
                          @include shadow;
                          padding: 20px;
                          color: $drop-title;

                          i{
                            @include finger;
                          }
                        }

                        .description{
                          @include dropMenu;

                        }
                      }
                    }

                  }
                }
              }
              // end construct e dropdown menu part-------------------------------------

              // start grey row----------------------------------------------------------
              .grey-row{
                height: 300px;
                width: 100%;
                background: $grey-row;

                &-container{
                  @include container;
                  display: flex;

                  &-boxes{
                    @include greyRowBox;
                    .numbers{
                      color: $common-green;
                      font-size: 40px;
                      font-weight: bold;
                      padding-bottom: 15px;
                      font-family: 'Noto Sans', sans-serif;
                    }

                    .result{
                      color:$grey-row-result;
                      font-weight: bolder;
                    }
                  }
                }
              }

              // Start Cards row part-------------------------------------------------
              .main-cards-row{
                height: 1260px;
                width: 100%;
                background-image: linear-gradient(to bottom, #fff 30%, 	#e6e6e6 100%);
                border-bottom-left-radius: 150px;
                border-bottom-right-radius:150px;

                &-container{
                  @include container;

                  .title{
                    text-align:center;
                    margin: 40px 30px;

                    p{color:$drop-title;
                      font-size:20px;
                      padding-bottom: 20px;}

                      h1{display: inline;
                        color:$common-purple;
                        font-size: 50px;
                        font-weight: bold;}

                        span{color:$common-green;
                          font-size: 50px;
                          font-family:sans-serif;
                        }

                      }
                      // Inizio cards--------------------------------
                      .cards-container{
                        @include cardContainer;

                        .card{
                          width: 32%;
                          height: 52%;


                          .box-image{
                            height: 50%;
                            position: relative;

                            img{
                              @include finger;
                              width: 100%;
                              height: auto;
                              border-radius: 5px;
                            }

                            span{
                              @include priceCard;
                            }

                          }

                          .description{
                            margin-top: 22px;
                            padding-left: 28px;
                            width: 100%;
                            height: 50%;

                            .logo{
                              display: flex;
                              width: 36px;
                              padding-bottom: 16px;
                              align-items: center;

                              img{
                                border-radius:50%;
                                width: 100%;
                                height: auto;
                                margin-right: 10px;
                              }

                              span{
                                color:$drop-title;
                                display: inline-table;
                                width: 180px;
                              }

                            }
                            .teacher-course{
                              padding-bottom: 35px;

                              h2{font-size:22px;
                                color: #333; }
                              }

                              .lessons-students{
                                display: flex;
                                color:$drop-title;

                                .lessons{
                                  padding-right: 25px;

                                  i{
                                    padding-right: 3px;
                                  }


                                }

                                .students{
                                  i{padding-right: 3px;}
                                }
                              }

                            }

                          }
                        }
                        // end card container-----------------------
                        .card-button{
                          margin: 50px;
                          @include flexCenter;

                          .content{
                            @include finger;
                            @include flexCenter;
                            @include button;
                            width: 24%;
                            height: 50px;

                            span{
                              margin-right: 5px;
                            }

                          }
                          .content:hover{
                            @include hoverButton;
                          }

                        }
                      }
                    } // end card part-------------------------------------------------


                    // start Learn At your own part-------------------------------------

                    .main-learn-yourown{
                      width: 100%;
                      height: 600px;
                      position: relative;

                      .box-images{
                        position: absolute;
                        top: 26%;
                        left: 42%;
                        width: 400px;
                        height: 500px;

                        img{
                          width: 100%;
                          height: 100%;
                        }
                        span{
                          width: 100px;

                          img{
                            top: 38%;
                            height: auto;
                            width: 150px;
                            position: absolute;
                          }
                        }
                      }


                      &-container{
                        @include container;

                        .left-content{
                          @include fiftyFifty;

                          .main-content{

                            margin-top: 90px;

                            .up-title{
                              color:$common-purple;
                              margin-bottom: 30px;

                              p{
                                margin: 30px 0 20px 0;
                                color:$drop-title;
                                font-weight: 600;
                              }

                              h1{
                                display: inline;
                                font-weight: bold;
                                font-size: 45px;
                              }

                              span{
                                color:$common-green;
                                font-size: 45px;
                                font-family: sans-serif;
                                padding-left: 10px;
                              }

                            }
                            .choice-list{
                              ul{
                                li{
                                  list-style: none;
                                  padding-bottom: 20px;
                                  color:$grey-build;
                                  font-weight: 600;

                                  i{
                                    color:$common-green;
                                    padding-right: 8px;
                                    font-size: 14px;

                                  }

                                  span{
                                    font-size: 15px;
                                  }

                                }
                              }
                            }

                            .get-start-button{
                              @include button;
                              @include flexCenter;
                              width: 198px;
                              font-size: 15px;
                              margin-top: 20px;

                            }
                            .get-start-button:hover{
                              @include hoverButton;
                            }
                          }
                        }

                        .right-content{
                          @include fiftyFifty;

                          .desk-image{

                            img{
                              position: absolute;
                              top: 18%;
                              width: 400px;
                              height: 451px;
                            }
                          }
                        }

                      }
                    }
                    // end Learn at your own part-------------------------------

                    // start Learn Anytime part---------------------------------

                    .main-learn-anytime{
                      width: 100%;
                      height: 650px;
                      position: relative;

                      .box-image{
                        img{
                          position: absolute;
                          width: 400px;
                          transform: translate(0,-50%);
                          top: 46%;
                          left: 10%;
                        }
                      }

                      .box-stripes{
                        img{
                          position: absolute;
                          top: 34%;
                          left: 4%;
                        }
                      }

                      .points-image{
                        img{
                          position: absolute;
                          left: 38%;
                          top: 46%;
                        }
                      }

                      &-container{
                        @include container;
                        position: relative;

                        .left-part{
                          @include fiftyFifty;
                          height: 100%;

                          .cellular-image{
                            img{
                              position: absolute;
                              left: 14%;
                              top: 10%;
                              width: 27%;
                            }
                          }

                          .circle{
                            img{
                              position: absolute;
                              left: 41%;
                              top: 10%;
                            }
                          }


                        }

                        .right-part{
                          @include fiftyFifty;

                          .right-box{
                            height: 70%;
                            width: 90%;
                            margin: 130px auto;
                            padding-left: 53px;

                            .pre-title{
                              margin-bottom: 20px;
                              color:$drop-title;
                              font-size: 15px;

                            }

                            .title{
                              font-size: 20px;
                              margin-bottom: 20px;

                              h1{
                                display: inline;
                                color:$common-purple;
                              }

                              span{
                                color:$common-green;
                                font-size: 40px;
                                padding-left: 5px;

                              }

                              .anytime-title{
                                color:$common-purple;

                              }

                            }

                            .description{
                              margin-bottom: 20px;
                              font-size: 15px;
                              color: #767676;
                            }

                            .button{
                              @include button;
                              width: 200px;
                            }

                            .button:hover{
                              @include hoverButton;
                            }
                          }



                        }
                      }
                    }

                    // end Learn Anytime  part---------------------------------------


                    // Start Upcoming Events part------------------------------------
                   .container-background{
                    position: relative;
                    z-index: 10;

                    .main-upcoming-events{
                      width: 100%;
                      height: 850px;
                      border-bottom-right-radius:240px;
                      background: #fff;
                      z-index: 10;

                      &-container{
                        @include container;

                        .upcoming-event-title{
                          margin: 0 auto;
                          width: 395px;

                          .pre-title{
                            color:$drop-title;
                            display: flex;
                            justify-content: center;
                            font-weight: lighter;
                            padding-bottom: 16px;
                          }

                          .title{
                            padding-bottom: 50px;
                            h1{
                              display: inline;
                              color:$common-purple;
                              font-size: 50px;
                            }

                            span{
                              color:$common-green;
                              font-size: 50px;
                              padding-left: 5px;
                              font-family: sans-serif;
                            }


                          }
                        }

                        .event-container{
                          width: 100%;
                          height: 65%;
                          display: flex;
                          flex-wrap: wrap;
                          justify-content: center;

                          .event-box{
                            @include event-box;

                            .info-event{
                              height: 100%;
                              width: 60%;
                              padding: 30px;

                              i{
                                color: #8c8c8c;

                              }

                              span{
                                color: #8c8c8c;
                              }

                              h3{
                                padding-top: 10px;
                              }

                            }

                            .date-event{
                              height: 100%;
                              width: 40%;
                              display: flex;
                              flex-direction: column;
                              align-items: center;

                              span{
                                font-size: 20px;
                                color:$common-green;
                                padding-top: 10px;
                                font-size: 50px
                              }

                              h5{
                                padding-bottom: 6px;
                                font-size: 17px;

                              }

                              h4{
                                @include button;
                                padding: 9px 36px;
                                font-size: 14px;

                              }
                              h4:hover{
                                @include hoverButton;
                              }

                            }

                          }

                        }

                        // title after event-box
                        .view-all-events{
                          display: flex;
                          justify-content: center;
                          padding-top: 30px;

                          .about{
                            color:#918ea6;
                            padding-right: 3px;
                            font-weight: 500;

                          }

                          .view{
                            @include finger;
                            border-bottom: 1px solid #e0e0e0;
                            color:$common-green;
                            font-weight: bold;

                          }
                        }


                      }
                    }
                    // end Upcoming Events--------------------------------------


                  // Start praising Maxcoach part-------------------------------
                   .main-praising-maxcoach{
                     width: 100%;
                     height: 1200px;
                     background: $grey-row;
                     position: relative;
                     top: -300px;
                     z-index: -1;

                     &-container{
                       @include container;

                       .main-content{
                         padding-top: 24%;
                         height: 1100px;
                         display: flex;
                         justify-content: center;
                         flex-direction: column;


                         .title{
                             text-align: center;
                             padding-bottom: 145px;

                           h5{
                            color:#8c89a2;
                            padding-bottom: 15px;

                           }

                           h1{
                             display: inline;
                             color:$common-purple;
                             font-size: 45px;
                           }

                           span{
                             color:$common-green;
                             font-size: 45px;
                             padding-left: 7px;

                           }
                         }

                         .rating-container{
                           width: 100%;
                           height:400px;
                           display: flex;

                           .card{
                             @include cardSlider;

                            .logo{
                              position: relative;
                              top:-70px;
                              img{
                                border-radius: 50%;
                                width: 130px;

                              }
                            }

                            .opinion{
                              color:$menu-header;
                              text-align: center;
                              font-size: 17px;
                              padding: 16px;
                              margin-top: -52px;
                            }

                            .name{
                              font-weight: lighter;
                              padding-bottom: 8px;


                            }

                            .job{
                              color:#8d8d8d;

                            }
                           }

                           .carousel-points{

                               position: absolute;
                               top: 80%;
                               left: 46%;
                               font-size: 10px;


                            i{
                              @include finger;
                              padding: 10px;
                              color:$points;
                            }
                           }

                         }
                       }



                     }
                   }

                   }
                 // end praising Maxcoach part----------------------------------
                  }
