$bg-header:rgba(223,219,216);
$menu-header:#534f74;
$common-green:#0088cc;
$common-purple:#3f3a64;
$grey-build:#7b7b7b;
$background-drop:#f2f2f2;
$content-drop:#7e7e7e;
$drop-title:#696969;
$grey-row:#faf8f6;
$grey-row-result:#3f3a64;
$points:#b7b5c4;
