@mixin Search {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius:5px;
  border: none;
}

@mixin button {
  color: #fff;
  background-color:#20ad96;
  padding: 18px 20px;
  text-align:center;

}
