@mixin Search {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius:5px;
  border: none;
}

@mixin button {
  border-radius: 5px;
  color: #fff;
  background-color:#20ad96;
  padding: 18px 20px;
  text-align:center;

}

@mixin cart-zero {
  background: $common-green;
  position: absolute;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  top: 0px;
  right: 88%
}

@mixin finger {
  cursor:pointer;
}

@mixin dropMenu {
  padding: 22px;
  color:$content-drop;
  background: #fff;
  box-shadow:  0 8px 27px -6px lightgrey;
  height: 100%;
  width: auto;
}

@mixin greyRowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height:100%;
}

@mixin cardContainer {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin priceCard {
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Mukta", sans-serif;
}

@mixin fiftyFifty {
  height: 100%;
  width: 50%;
  float: left;
}

@mixin hoverButton {
  background:$menu-header;
  color: #fff;
  cursor: pointer;
}

@mixin event-box {
  width: 46%;
  height: 30%;
  display: flex;
  margin: 0 17px;
  background:$grey-row;
  border-radius: 10px;
}


@mixin cardSlider {
  height: 77%;
  width: 30%;
  display:flex;
  align-items:center;
  flex-direction: column;
  position:relative;
  margin:0 20px;
  background:#fff;
  box-shadow: 0 13px 27px -8px lightgrey;
  border-radius: 5px;
}


@mixin upperButton {
  padding: 6px 10px;
  background:$common-green;
  border-radius: 50%;
  position: absolute;
  right: -40px;
  bottom: -40px;
  color:#fff;
}
