@mixin Search {
  width: 200px;
  background: white;
  padding: 15px;
  border-radius:5px;
  border: none;
}

@mixin button {
  color: #fff;
  background-color:#20ad96;
  padding: 18px 20px;
  text-align:center;

}

@mixin cart-zero {
  background: $common-green;
  position: absolute;
  border-radius: 100%;
  padding-left: 5px;
  padding-right: 5px;
  top: 0px;
  right: 88%
}

@mixin finger {
  cursor:pointer;
}
